main {
	text-align: center;
}

.renderingInputForm {
	width: 100%;
	height: 100%;
	display: flex;
}

.categoryInput {
	width: 50%;
	height: 100%;
}

.categoryTree {
	width: 50%;
	height: 100%;
}

.taskField {
	width: 50%;
	height: 100%;
}

