.taskList {
	width: 100%;
	height: 80vh;
	overflow: overlay;
}

.taskItem {
	height: 40px;
	overflow: hidden;
	white-space: nowrap;
	padding: 5px;
	text-overflow: ellipsis;
	display: flex;
	justify-content: space-between;
	align-items: center;
	border: 1px solid black;
	margin: 1px 5px 1px 5px;
	background: white;
}

.checkedInput {
	display: block;
	margin: 14px;
}

.checkedInput:hover {
	cursor: pointer;
}

.uncheckedInput {
	display: block;
	margin: 14px;
}

.uncheckedInput:hover {
	cursor: pointer;
}

.taskTitle {
	display: block;
	width: 170px;
	overflow: hidden;
	white-space:nowrap;
	text-overflow: ellipsis;
}

.editBtn {
	display: block;
	margin-right: 0px;
  margin-left: 0px;

}